.banniere {
  display: flex;
  align-items: left;
  border-bottom: solid 5px black;
}

.descriptionPerso {
  display: flex;
  align-items: left;
  display: inline-block;
  background-color: white;
  color: black;
  opacity: 0.65;
}
