.banniere {
  display: flex;
  align-items: left;
}

.portrait_img {
  border: solid 5px black;
  border-radius: 5px;
  width: 165px;
  height: 195px;
  display: flex;
  align-items: left;
}

.descriptionPerso {
  display: flex;
  align-items: left;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  margin: 0px 0px;
  font-size: 13px;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

h4 {
  padding: 0px;
  margin: 0px;
  line-height: 100%;
}

.tableSansBord {
  margin: 0px 0px;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  padding: 0px 0px;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
