.caracs_ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}
.caracs_li {
  padding: 0px 0px 30px 0px;
  margin: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  transition-duration: 0.4s;
}

.caracs_bouton {
  color: rgb(1, 18, 32);
  background-color: rgb(225, 235, 243);
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.caracs_bouton:hover {
  background-color: #a7bbbe;
}
