#parchment {
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
  filter: url(#wavy2);
  width: 300px;
  border-radius: 5px;
}

.portrait_img {
  border-radius: 5px;
  width: 165px;
  height: 195px;
  display: flex;
  align-items: left;
}

.nomPerso {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}

.descriptionPerso {
  color: rgb(34, 25, 3);
  padding: 2px 2px;
  margin: 2px 2px;
  width: 95%;
  font-size: 11px;
  border-collapse: collapse;
}

.caracs {
  border: solid 1px black;
  text-align: center;
  font-size: 12px;
}

h4 {
  padding: 0px;
  margin: 0px;
  line-height: 100%;
}

.tableSansBord {
  margin: 0px 0px;
  margin: auto;
  border-collapse: collapse;
  padding: 0px 0px;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
